.accordion-button{
     
    color: white !important;
    font-size: medium !important;
    background-color: transparent !important;
    border: none;
    font-weight: 500;
}

.accordion{
    background-color: transparent !important;
}

.sidebar-brand-text{
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: large;
} 

.nav-link {
    padding: 0rem 1rem !important;
}

.bg-gradient-primary{
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}